header{
    background-image: url(/Images/bg_img@2x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    @include mediaQuery(992px) {
        height: 130vh;
    }
}